@import "bootstrap";

#footer, .navbar {
  background-color: silver 
}

#footer {
  
}

.navbar {
  
}

.square {
  width: 20px;
  height: 20px; }

.row {
  display: flex;
  justify-content: center;
}